
#map {
    width: 500px;
    height: 400px;
    border: blueviolet solid 5px;
}


.table  {
    border: #0f0f0f solid 3px;
    position: absolute;
    top: 100px;
    left: 580px;
    width: 700px;
}

thead {
    background-color: #d4d4d4;
    font-weight: bold;
}

tbody {
    background-color: #faf2cc;
}

.state_busy {
    color: red;
}

.state_av {
    color: green;
}