body {
    color: #2A388F;
    text-align: center;
}

#logo {
    margin-top: 10px;    
}

.logo-image {
    height: 60px;
}

#background {
    background-image: url('/img/u1.jpg');
    position: relative;
}

#form-container{
    margin-top: 50px;
}

.matrix-table-cell{
    margin-bottom: 15px;
}
#matrix {
    border:4px solid #1b6d85;
    margin-top:15px;
    padding: 15px;
}

.enabled_matrix {
    border: 3px solid red;
}

.login-button{
    margin-bottom: 30px;
    margin-left: 215px;
}

.login_error {
    color : red;
    font-weight: bold;
    text-align: center;
    margin-left: 65px;
}

#codeTable {
    position: relative;
    top: 200px;
}

#user_message {
    text-align: left;
    margin-left: 10px;
}

