#matrix {
    border:4px solid #1b6d85;
    margin-top:15px;
    padding: 15px;
}

.enabled_matrix {
    border: 3px solid red;
}

.login_error {
    color : red;
    font-weight: bold;
    text-align: center;
    margin-left: 65px;
}

