.search_title {
    padding-top: 30px;
    margin-top: 0px;
}

.table-container {
    margin-top: 20px;
}

.table  {
    border: #0f0f0f solid 3px;
}

thead {
    background-color: #d4d4d4;
    font-weight: bold;
}

tfoot {
   background-color: #d4d4d4;
    font-weight: bold; 
}

.tfooter {
    text-align: right;
}

tbody {
    background-color: #faf2cc;
}

.error{
    color : red;
    text-align: center;
}

.green {
    color: green;
}

.form-inline {
    background-color: whitesmoke;
    opacity: 0.9;
    padding: 5px;
    border-top: #245580 solid 3px;
    border-bottom: #245580 solid 3px; 
}