.formContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.error{
    color : red;
    font-weight: bold;
    text-align: center;
}

.no_error {
    color : green;
    font-weight: bold;
    text-align: center
}