.formContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.error{
    color : red;
    font-weight: bold;
    text-align: center;
}
 
.success_message {
    padding-top: 20px;
    text-align: left;
    background-color: whitesmoke;
    opacity: 0.8;
    padding-bottom: 20px;
    padding-left: 10px;
}

.success_message h4 h5 {
    font-weight: bold;
}