.card {
    background-image: url('/img/u10.jpg');
    width: 346px;
    height: 175px;
    position: absolute;
    margin: 20px;
}

#card_container {
    position: relative;
    height: 220px;
    text-align: left;
    overflow-x: auto;
    border: #1b6d85 solid 3px;
    top: 10px;
}

#menu_buttons{
    position: relative;
    width: 100%;
    height: 220px;
    margin-top: 30px;
    text-align: center;
}

#menu_buttons td{
   height: 140px;
    width: 200px; 
}

#menu_buttons table {
    margin-left: 30px;
}

.button_menu {
    top: 5px;
    text-align: center;
    position: absolute;
    height: 120px;
    width: 100px;
}

.button_menu img {
    margin: 0 auto;
    border: #265a88 solid 2px;
}

.button_menu p {
    background-color: whitesmoke;
    opacity: 0.8;
    margin-top: 5px;
}
.circuit_logo {
    height: 20%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.account_number {
    position: absolute;
    top: 30px;
    left: 15px;
}

.card_number {
    position: absolute;
    top: 70px;
    left: 15px;
}

.balance {
    position: absolute;
    top: 110px;
    left: 15px;
}

.balance_value_red {
    color: red;
}

.balance_value_green{
    color: green;
}
